[submodule "src/github.com/ContentMine/ScienceSourceReview/vendor/github.com/ContentMine/wikibase"]
	path = src/github.com/ContentMine/ScienceSourceReview/vendor/github.com/ContentMine/wikibase
	url = https://github.com/ContentMine/wikibase.git
[submodule "src/github.com/ContentMine/ScienceSourceReview/vendor/github.com/mrjones/oauth"]
	path = src/github.com/ContentMine/ScienceSourceReview/vendor/github.com/mrjones/oauth
	url = https://github.com/mrjones/oauth.git
[submodule "src/github.com/ContentMine/ScienceSourceReview/vendor/github.com/gorilla/mux"]
	path = src/github.com/ContentMine/ScienceSourceReview/vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux.git
[submodule "src/github.com/ContentMine/ScienceSourceReview/vendor/github.com/flosch/pongo2"]
	path = src/github.com/ContentMine/ScienceSourceReview/vendor/github.com/flosch/pongo2
	url = https://github.com/flosch/pongo2.git
[submodule "src/github.com/ContentMine/ScienceSourceReview/vendor/github.com/juju/errors"]
	path = src/github.com/ContentMine/ScienceSourceReview/vendor/github.com/juju/errors
	url = https://github.com/juju/errors.git
[submodule "src/github.com/ContentMine/ScienceSourceReview/vendor/github.com/gorilla/sessions"]
	path = src/github.com/ContentMine/ScienceSourceReview/vendor/github.com/gorilla/sessions
	url = https://github.com/gorilla/sessions.git
[submodule "src/github.com/ContentMine/ScienceSourceReview/vendor/github.com/gorilla/securecookie"]
	path = src/github.com/ContentMine/ScienceSourceReview/vendor/github.com/gorilla/securecookie
	url = https://github.com/gorilla/securecookie.git
