body {
    background: #f6f6f6;
    color: black;
    font-family: sans-serif;
}

div#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

div#header a {
    text-decoration: none;
    color: black;
}

div#nav {
    width: 160px;
    top: 0px;
    padding-left: 8px;
}

div#nav ul {
    margin-left: 20px;
    padding: 0.3em 0 0 0;
}

div#nav ul li {
    line-height: 13.5px;
    font-size: 0.75em;
    font-family: sans-serif;
    list-style-type: none;
    list-style-image: none;
    margin: 0px;
    padding: 3px 0px;
}

div#nav ul li a {
    text-decoration: none;
}

div#nav ul li a:hover {
    text-decoration: underline;
}

div#content {
    background: white;
    padding: 1.25em 1.5em 1.5em 1.5em;
    line-height: 1.6;
    font-size: 0.875em;
    border: 1px solid #a7d7f9;
}

div#content h1 {
    border-bottom: 1px solid #a2a9b1;
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0px;
}

div#content h2 {
    border-bottom: 1px solid #a2a9b1;
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
    line-height: 1.3;
    font-size: 1.5em
    margin-top: 1em;
    margin-bottom: 0.25em;
    padding: 0px;
}

div#content table {
    color: #222;
    margin: 1em 0;
    border-collapse: collapse;
    font-size: 100%;
}

div#content td {
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
    text-align: center;
}

div#content th {
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
    font-weight: bold;
    background-color: #eaecf0;
    text-align: center;
}

div#logo {
    background-origin: padding-box;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url("/static/scisrclogo.svg");
    display: block;
    width: 160px;
    height: 160px;
}

div#termgraph {
    text-align: center;
}

div.flexouter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.flexinner {
    padding: 0px 10px;
}

iframe {
    width: 700px;
    height: 500px;
}
